/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

 body {
   padding-top: 56px;
   background-color: #f1f1f1;
 }
 nav.navbar .container-xxl a.navbar-brand, ul > li.nav-item.dropdown > a {
  color: #fff;
}
nav.navbar .container-xxl button.navbar-toggler {
  color: #fff;
  background-color: #fff;
}
nav.navbar .container-xxl .navbar-collapse form input {
  min-width: 400px;
}
nav.navbar .container-xxl .navbar-collapse form button {
  background-color: #FACC00;
  border-color: #FACC00;
  color: #1D477A;
}
main {
  margin-top: 30px;
}
main .col-md-8 {
  padding-top: 20px;
}
main h3 {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #e3e3e3;
}
main #posts .blog-post {
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #e3e3e3;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
  background-color: #fff;
}
main #posts .blog-post a {
  text-decoration: none;
  color: #000;
  display: block;
}
main #posts .blog-post a p:last-child {
  margin-bottom: 0px;
}
main #posts .blog-post a h4 {
  margin-bottom: 5px;
}
main #posts .blog-post a p.post-meta {
  color: #727272;
  margin-bottom: 10px;
}
main #posts .blog-post .post-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  padding-top: 15px;
  border-top: 1px solid #e3e3e3;
}
main #posts .blog-post .post-footer span {
  display: flex;
}
main #posts .blog-post .post-footer span a {
  margin-left: 5px;
}
main #posts .blog-post .post-footer .tags {
  display: flex;
}
main #posts .blog-post .post-footer .tags span {
  margin-right: 5px;
}
main #posts .blog-post .post-footer .tags span:first-child {
  margin-left: 5px;
}
main #posts .blog-post .post-footer .tags span:last-child {
  margin-right: 0;
}
main .col-md-4 .wrapper {
  position: sticky;
  top: 80px;
}
main .col-md-4 form {
  padding: 20px;
  box-shadow: 0 4px 16px 0 rgb(0 0 0 / 10%);
  background-color: #fff;
  border-radius: 4px;
}

@media only screen and (max-width: 768px) {
  main .row {
    flex-direction: column-reverse;
  }
  main .col-md-4 {
    margin-bottom: 30px;
  }
}

