<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #1D477A;">
  <div class="container-xxl">
    <a class="navbar-brand" href="/">Blog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/categories/Playa">Playa</a></li>
            <li><a class="dropdown-item" href="/categories/Montaña">Montaña</a></li>
            <li><a class="dropdown-item" href="/categories/Viaje">Viaje</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Etiquetas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/tags/Sol">Sol</a></li>
            <li><a class="dropdown-item" href="/tags/Arena">Arena</a></li>
            <li><a class="dropdown-item" href="/tags/Mar">Mar</a></li>
          </ul>
        </li>
      </ul>
      <%= form_with(url: posts_path, method: "GET", data: { turbo_frame: "list-posts", turbo_action: "advance" }, class: "d-flex") do |form| %>
        <%= form.search_field :query, class: "form-control me-2", placeholder: "Buscar" %>
        <%= form.button 'Buscar', class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>